body  {
    background-color: #9e22de;
}
.container {
    height: 100%;
    padding: 20px 0px;
}
.cartao {
    height: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #fff;
    padding: 5% 5%;
    
}

h1{
    font-weight: bold;
}

h2 {
    font-size: 14px;
    margin-bottom: 25px;
}

.logo {
    margin-top: 25px;
    width: 400px;
}

.senha-alterada{
    background: #36b629;
    color: #e4e4e4;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 10px 10px;
}