.topo {
    height: 100px;
    padding-left: 50px;
    background: #8532d0;
    padding-top: 20px;
}

.logo {
    width: 250px;
}

.icone-foto{
    width: 150px;
    height: 150px;
    border: 1px solid #bbbbbb;
    padding: 10px;
    margin-left: 10px;
}


.file-personalizado {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-personalizado  + label {
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
}

.file-personalizado :focus + label,
.file-personalizado  + label:hover {
    cursor: pointer;
}

label[for='file']{
    margin-bottom: 30px;
    margin-left: 40px;
}

textarea{
    resize: none;
}

h1{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}




.row-servicos .col-3{
    word-wrap: break-word;
    align-items: stretch;
    text-align: center;
    margin-bottom: 40px;
}

.row-servicos h5{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}
.row-servicos .col-3:not(:nth-child(4n)) {
    border-right: 1px solid #9a9a9a;
}

.img-servico{
    width: 50%;
    margin-bottom: 15px;
}

.row-servicos .col-3 a{
    display: block;
}

h2.servicos{
    font-size: 22px;
    margin-top: 50px;
    padding-left: 50px;
}