@media(min-width: 768px){
    .col-formulario {
        padding: 1% 5%;
        border-right: 2px solid #b75fe7;
    }
}

@media(max-width: 768px){
    .col-formulario form {
        padding: 0 25px;
    }
    
    .col-bg{
        height: 0;
    }
}


img {
    width: 300px;
    margin-bottom: 20px;
}

.col-bg {
    padding: 0;
    background-image: url('../img/index-bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.col-bg h1 {
    text-align: center;
    font-size: 70px;
    margin-top: 20px;
    color: white;
    -webkit-text-stroke: 2px #b661e3;
}

